html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.mainbg {
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    overflow: hidden;
}

.background-image {
    height: 100vh;
    height: 100dvh;
    left: 0;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
}
